.picture {
    width: 100px;
    height: 100px;
    background-color: blue;
}

body {
    background-image: url('../bkg-register.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* #background_opacity {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    /* L'opacite se regle ici */

form {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
}